# Introduction

For our first Data Science project, we have been given a modified version of the Kings County data set and must use a multivariate linear regression model to predict home sale prices.  We will be working through the OSEMN (Obtain, Scrub, Explore, Model, iNterpret) Data Science process.  The modified data set has been provided so the Obtain part of OSEMN is already done; let's read in the data set and get started.

In [1]:
# import our dependancies

import pandas as pd 
import numpy as np
import seaborn as sns

pd.set_option('display.max_columns', None) # shows me all columns instead of truncating and dot dot dot

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('seaborn')

from scipy.stats import kurtosis, skew
import scipy.stats as stats

from math import sqrt

import statsmodels.formula.api as smf

In [2]:
# read in the csv file into a pandas dataframe for data manipulation within jupyter

df = pd.read_csv("kc_house_data.csv")
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,3,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,3,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,3,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,5,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,3,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

Lets walk through our available predictors for some definitions and initial observations.

* **id** - unique identified for a house
* **date** - Date house was sold
* **price** - Price is prediction target
* **bedrooms** - Number of Bedrooms/House
* **bathrooms** - Number of bathrooms/bedrooms
* **sqft_living** - square footage of the home
* **sqft_lot** - square footage of the lot
* **floors** - Total floors (levels) in house
* **waterfront** - House which has a view to a waterfront
* **view** - Has been viewed
* **condition** - How good the condition is ( Overall )
* **grade** - overall grade given to the housing unit, based on King County grading system
* **sqft_above** - square footage of house apart from basement
* **sqft_basement** - square footage of the basement
* **yr_built** - Built Year
* **yr_renovated** - Year when house was renovated
* **zipcode** - zip
* **lat** - Latitude coordinate
* **long** - Longitude coordinate
* **sqft_living15** - The square footage of interior housing living space for the nearest 15 neighbors
* **sqft_lot15** - The square footage of the land lots of the nearest 15 neighbors

We can start by removing **id** and **dateDate** from our explanatory features since **id** is simply an identifier and dates will not be a primary focus of this challenge

In [11]:
df = df.drop(columns = ['id', 'date'])

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 19 columns):
price            21597 non-null float64
bedrooms         21597 non-null int64
bathrooms        21597 non-null float64
sqft_living      21597 non-null int64
sqft_lot         21597 non-null int64
floors           21597 non-null float64
waterfront       19221 non-null float64
view             21534 non-null float64
condition        21597 non-null int64
grade            21597 non-null int64
sqft_above       21597 non-null int64
sqft_basement    21597 non-null object
yr_built         21597 non-null int64
yr_renovated     17755 non-null float64
zipcode          21597 non-null int64
lat              21597 non-null float64
long             21597 non-null float64
sqft_living15    21597 non-null int64
sqft_lot15       21597 non-null int64
dtypes: float64(8), int64(10), object(1)
memory usage: 3.1+ MB

# Scrubbing our data

We need to make sure we have a clean data set for our model.  That means removing any **nan** values and correcting data types (if needed)

In [13]:
# check for na values
df.isna().sum()

price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront       2376
view               63
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated     3842
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
dtype: int64

Inspect waterfront, view and yr_renovated and decide how to handle the respective null values

In [14]:
df.waterfront.unique()

array([nan,  0.,  1.])

In [15]:
df.waterfront.value_counts()

0.0    19075
1.0      146
Name: waterfront, dtype: int64

11% of values in Waterfront are NaN which seems like too much data to drop.  I will replace the NaN values with zero and<br>
deal with outliers later in EDA/modeling.

In [16]:
df.waterfront = df.waterfront.fillna(0)

In [10]:
df.view.unique()

array([ 0., nan,  3.,  4.,  2.,  1.])

view has only 63 NaN rows; will drop them

In [17]:
df = df.dropna(subset = ["view"])

In [19]:
df.yr_renovated.unique()

array([   0., 1991.,   nan, 2002., 2010., 1992., 2013., 1994., 1978.,
       2005., 2003., 1984., 1954., 2014., 2011., 1983., 1945., 1990.,
       1988., 1977., 1981., 1995., 2000., 1999., 1998., 1970., 1989.,
       2004., 1986., 2007., 1987., 2006., 1985., 2001., 1980., 1971.,
       1979., 1997., 1950., 1969., 1948., 2009., 2015., 1974., 2008.,
       1968., 2012., 1963., 1951., 1962., 1953., 1993., 1996., 1955.,
       1982., 1956., 1940., 1976., 1946., 1975., 1964., 1973., 1957.,
       1959., 1960., 1967., 1965., 1934., 1972., 1944., 1958.])

cannot remove 18% of data<br>
doesn't make sense to imputate<br>
will fill NaN values with zero (never been renovated) and handle outliers in EDA/modeling

In [20]:
df.yr_renovated = df.yr_renovated.fillna(0)

sanity check

In [21]:
df.isna().sum()

price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

Next, we will check and correct data types

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21534 entries, 0 to 21596
Data columns (total 19 columns):
price            21534 non-null float64
bedrooms         21534 non-null int64
bathrooms        21534 non-null float64
sqft_living      21534 non-null int64
sqft_lot         21534 non-null int64
floors           21534 non-null float64
waterfront       21534 non-null float64
view             21534 non-null float64
condition        21534 non-null int64
grade            21534 non-null int64
sqft_above       21534 non-null int64
sqft_basement    21534 non-null object
yr_built         21534 non-null int64
yr_renovated     21534 non-null float64
zipcode          21534 non-null int64
lat              21534 non-null float64
long             21534 non-null float64
sqft_living15    21534 non-null int64
sqft_lot15       21534 non-null int64
dtypes: float64(8), int64(10), object(1)
memory usage: 3.3+ MB

In [23]:
df.price.unique()

array([221900., 538000., 180000., ..., 594866., 541800., 402101.])

price has a decimal at end so should be an int

In [24]:
df.price = df.price.astype("int64")

##### waterfront

In [18]:
df.waterfront.unique()

array([0., 1.])

waterfront will become a category type later but for now will coerce to int

In [19]:
df.waterfront = df.waterfront.astype("int64")

##### view

In [20]:
df.view.unique()

array([0., 3., 4., 2., 1.])

view will become a category type later but for now will coerce to int.

In [21]:
df.view = df.view.astype("int64")

###### sqft_basement

In [22]:
df.sqft_basement.unique()

array(['0.0', '400.0', '910.0', '1530.0', '?', '730.0', '1700.0', '300.0',
       '970.0', '760.0', '720.0', '700.0', '820.0', '780.0', '790.0',
       '330.0', '1620.0', '360.0', '588.0', '1510.0', '410.0', '990.0',
       '600.0', '560.0', '550.0', '1000.0', '1600.0', '500.0', '1040.0',
       '880.0', '1010.0', '240.0', '265.0', '290.0', '800.0', '540.0',
       '840.0', '380.0', '770.0', '480.0', '570.0', '1490.0', '620.0',
       '1250.0', '1270.0', '120.0', '650.0', '180.0', '1130.0', '450.0',
       '1640.0', '1460.0', '1020.0', '1030.0', '750.0', '640.0', '1070.0',
       '490.0', '1310.0', '630.0', '2000.0', '390.0', '430.0', '210.0',
       '1430.0', '1950.0', '440.0', '220.0', '1160.0', '860.0', '580.0',
       '2060.0', '1820.0', '1180.0', '200.0', '1150.0', '1200.0', '680.0',
       '530.0', '1450.0', '1170.0', '1080.0', '960.0', '280.0', '870.0',
       '1100.0', '460.0', '1400.0', '660.0', '1220.0', '900.0', '420.0',
       '1580.0', '1380.0', '475.0', '690.0', '270.0', '350.0', '935.0',
       '710.0', '1370.0', '980.0', '850.0', '1470.0', '160.0', '950.0',
       '50.0', '740.0', '1780.0', '1900.0', '340.0', '470.0', '370.0',
       '140.0', '1760.0', '130.0', '520.0', '890.0', '1110.0', '150.0',
       '1720.0', '810.0', '190.0', '1290.0', '670.0', '1800.0', '1120.0',
       '1810.0', '60.0', '1050.0', '940.0', '310.0', '930.0', '1390.0',
       '610.0', '1830.0', '1300.0', '510.0', '1330.0', '1590.0', '920.0',
       '1320.0', '1420.0', '1240.0', '1960.0', '1560.0', '2020.0',
       '1190.0', '2110.0', '1280.0', '250.0', '1230.0', '170.0', '830.0',
       '1260.0', '1410.0', '1340.0', '590.0', '1500.0', '1140.0', '260.0',
       '100.0', '320.0', '1480.0', '1060.0', '1284.0', '1670.0', '1350.0',
       '2570.0', '1090.0', '110.0', '2500.0', '90.0', '1940.0', '1550.0',
       '2350.0', '2490.0', '1481.0', '1360.0', '1135.0', '1520.0',
       '1850.0', '1660.0', '2130.0', '2600.0', '1690.0', '243.0',
       '1210.0', '1024.0', '1798.0', '1610.0', '1440.0', '1570.0',
       '1650.0', '704.0', '1910.0', '1630.0', '2360.0', '1852.0',
       '2090.0', '2400.0', '1790.0', '2150.0', '230.0', '70.0', '1680.0',
       '2100.0', '3000.0', '1870.0', '1710.0', '2030.0', '875.0',
       '1540.0', '2850.0', '2170.0', '506.0', '906.0', '145.0', '2040.0',
       '784.0', '1750.0', '374.0', '518.0', '2720.0', '2730.0', '1840.0',
       '3480.0', '2160.0', '1920.0', '2330.0', '1860.0', '2050.0',
       '4820.0', '1913.0', '80.0', '2010.0', '3260.0', '2200.0', '415.0',
       '1730.0', '652.0', '2196.0', '1930.0', '515.0', '40.0', '2080.0',
       '2580.0', '1548.0', '1740.0', '235.0', '861.0', '1890.0', '2220.0',
       '792.0', '2070.0', '4130.0', '2250.0', '2240.0', '1990.0', '768.0',
       '2550.0', '435.0', '1008.0', '2300.0', '2610.0', '666.0', '3500.0',
       '172.0', '1816.0', '2190.0', '1245.0', '1525.0', '1880.0', '862.0',
       '946.0', '1281.0', '414.0', '276.0', '1248.0', '602.0', '516.0',
       '176.0', '225.0', '1275.0', '266.0', '283.0', '65.0', '2310.0',
       '10.0', '1770.0', '2120.0', '295.0', '207.0', '915.0', '556.0',
       '417.0', '143.0', '508.0', '2810.0', '20.0', '274.0', '248.0'],
      dtype=object)

In [28]:
pd.options.display.max_rows
df.sqft_basement.value_counts()

0.0       12798
?           452
600.0       216
500.0       209
700.0       207
          ...
2570.0        1
1930.0        1
792.0         1
2050.0        1
2250.0        1
Name: sqft_basement, Length: 302, dtype: int64

The basement feature has 452 question mark place-holders<br>
Our options are to remove the column entirely, remove those records or impute?<br>

Rather than make an assumption about those observation having a basement or not, I think it prudent to simply remove them.

In [29]:
df.sqft_basement = df.sqft_basement.replace("?", np.nan)

In [31]:
df.sqft_basement.value_counts()

0.0       12798
600.0       216
500.0       209
700.0       207
800.0       201
          ...
2570.0        1
1930.0        1
792.0         1
2050.0        1
2250.0        1
Name: sqft_basement, Length: 301, dtype: int64

In [33]:
df.sqft_basement.isna().sum()

452

In [34]:
df = df.dropna(subset = ["sqft_basement"])

In [35]:
df.sqft_basement.isna().sum()

0

In [36]:
df.isna().sum()

price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

###### yr_renovated

In [37]:
df.yr_renovated.unique()

array([   0., 1991., 2002., 2010., 1992., 2013., 1994., 1978., 2005.,
       2003., 1984., 1954., 2014., 2011., 1983., 1945., 1990., 1988.,
       1977., 1981., 1995., 2000., 1999., 1998., 1970., 1989., 2004.,
       1986., 2007., 1987., 2006., 1985., 1980., 1971., 1979., 1997.,
       1950., 1969., 1948., 2009., 2015., 1974., 2008., 1968., 2012.,
       1963., 1951., 1962., 2001., 1953., 1993., 1996., 1955., 1982.,
       1956., 1940., 1976., 1975., 1964., 1973., 1957., 1959., 1960.,
       1967., 1965., 1934., 1972., 1944., 1958.])

In [38]:
df.yr_renovated = df.yr_renovated.astype("int64")

save cleaned data to new csv file

In [39]:
df.to_csv("cleaned_kc_housing_data.csv")